@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans');
@import url('https://fonts.googleapis.com/css2?family=Sora');
@import url('https://fonts.googleapis.com/css2?family=Squada+One');
@import url('https://fonts.cdnfonts.com/css/sf-ui-display');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'SF UI Display';
	font-weight: 700;
}

a,
label {
	font-family: 'Smooch Sans';
	font-weight: 400;
	color: #2f2f2f;
}
span {
	font-family: 'Sora';
	font-weight: 400;
	color: #2f2f2f;
}

p {
	font-family: 'Smooch Sans';
	font-weight: 300;
	color: #2f2f2f;
}
